 body {
            background-color: white;
            width: 100%;
            justify-content: center; 
            align-items: center;
        
        }
            
    header {
            background-color: darkblue;
            width: 100%; 
            height: 15cm;
            padding: 10px 10px 10px 10px;
        }
        
        h1  {
            background-color: darkblue;
            color: white;
            font-family: times;
            font-size: 50px;
            text-align: center;
            text-shadow: black;
        }
        
    h2  {
            background-color: coral;
            color: white;
            font-size: 30px;
            
        }

/* Dropdown-Menü */
    /* Button */
    .dropbtn {
            background-color: whitesmoke;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            margin: 10px;
            z-index: 2;
        }
        
    /* Button Gestaltung */
    .container {
            display: inline-block;
            cursor: pointer;
        }

    .bar1, .bar2, .bar3 {
            width: 50px;
            height: 6px;
            background-color: lightsalmon;
            margin: 8px 1px 5px 1px;
            transition: 0.4s;
        }

    /* Dropdown Inhalt */
    .dropdown {
            position: relative;
            display: inline-block;
        }

    .dropdown-content {
            display: none;
            position: absolute;
            background-color: whitesmoke;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 2;
            margin: 0px 0px 0px 5px;
        }

    /* Rechts im Menü */
    .dropdown-content a {
            color: grey;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            font-family: times;
        
        }

    /* Farbe der Menü-Rechts */
    .dropdown-content a:hover {background-color: whitesmoke;}

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}

    /* Hintergrund des Menü-Buttons, wenn das Menü ausgeklappt ist */
    .dropdown:hover .dropbtn {background-color: lightgrey;}
    
        .dropdown:hover .container {text-align-last: }
        
        
    /* Titelbild */
    .banner {
            display: flex;
            justify-content: center; 
            align-items: center;
            margin: 8px 10px 8px 10p;
            }
        
    .search {
            align-content: center;
            margin: 0px 0px 0px 0px;
            float:right;
        }
p{
    text-align: justify-all;
    font-size: 16px;
    line-height: 30px;
}

a:hover{
    padding-right: 5px;
    
}
    @keyframes colorRotate {
    from  { color: rgb(255,   0,   0); }
    16.6% { color: rgb(255,   0, 255); }
    33.3% { color: rgb(  0,   0, 255); }
    50%   { color: rgb(  0, 255, 255); }
    66.6% { color: rgb(  0, 255,   0); }
    83.3% { color: rgb(255, 255,   0); }
    to    { color: rgb(255,   0,   0); }
}

.rainbow {
    font-size: 5vw;
    font-family: monospace;
    text-align: center;
    animation: colorRotate 3s linear 0s infinite;
}
